body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* TOM PRETO MAIS ESCURO */
    background: #050505;
    color: white;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px 40px;

    /* MESMO TOM DO SITE */
    background: #050505;
    background-image: none;
}

/* TÍTULO */
.hero h1{
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero span {
    color: #FF66B2;
}

/* SUBTÍTULO */
.hero p{
    font-size: 1.2rem;
    margin-bottom: 40px;
}

/* SEÇÃO */
.ingressos {
    text-align: center;
    padding: 40px;

    /* MESMO TOM */
    background: #050505;

    flex: 1;
}

/* TÍTULO */
.ingressos h2{
    font-size: 2rem;
    margin-bottom: 40px;
}

/* GRID */
.grid-ingressos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARDS */
.ingresso-card {
    /* PRETO MAIS UNIFORME */
    background: #0d0d0d;

    border-radius: 16px;
    padding: 20px;
    width: 260px;

    text-align: center;

    box-shadow: 0 8px 25px rgba(0,0,0,0.8);
    transition: 0.3s;

    border: 1px solid #1a1a1a;
}

.ingresso-card:hover {
    transform: translateY(-5px);

    /* EFEITO MAIS SUAVE */
    box-shadow: 0 0 20px rgba(255, 46, 99, 0.15);
}

/* PREÇO */
.ingresso-card span {
    display: block;
    margin: 10px 0;
    font-size: 22px;
    color: #FF66B2;
}

/* BOTÃO */
.btn-comprar {
    background: #FF66B2;
    color: white;

    border: none;
    padding: 10px 20px;

    border-radius: 10px;
    cursor: pointer;

    transition: 0.3s;
}

.btn-comprar:hover {
    background: #FF66B2;
    transform: scale(1.05);
}

#mensagemConfirmacao{
    text-align: center;
    transition: 0.3s;
}

/* FOOTER */
footer {
    padding: 25px;
    text-align: center;

    /* MESMO TOM */
    background: #050505;

    border-top: 1px solid #1a1a1a;

    color: #777;

    margin-top: auto;
    width: 100%;
}
