body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* FUNDO COM SUA IMAGEM */
    background: url('../midia/ingressos.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: transparent;
}

.hero span {
    color: #ff2e63;
}

/* SEÇÃO */
.ingressos {
    text-align: center;
    padding: 40px;
    background: transparent;
}

/* GRID */
.grid-ingressos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* CARDS PRETOS */
.ingresso-card {
    background: rgba(0, 0, 0, 0.85);
    border-radius: 16px;
    padding: 20px;
    width: 260px;
    text-align: center;
    box-shadow: 0 8px 25px rgba(0,0,0,0.7);
    transition: 0.3s;
}

.ingresso-card:hover {
    transform: translateY(-5px);
}

/* PREÇO */
.ingresso-card span {
    display: block;
    margin: 10px 0;
    font-size: 22px;
    color: #ff2e63;
}

/* BOTÃO */
.btn-comprar {
    background: #ff2e63;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-comprar:hover {
    background: #ff4d7a;
    transform: scale(1.05);
}