body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;

    /* fundo com a mesma vibe do site */
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.85)),
        url('../ingressos/ingressos.png') no-repeat center center;

    background-size: cover;
    background-attachment: fixed;
}

/* CAIXA CENTRAL */
.compra-box {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;

    background: rgba(0, 0, 0, 0.85);
    border-radius: 20px;

    text-align: center;

    box-shadow: 
        0 10px 30px rgba(0,0,0,0.7),
        0 0 15px rgba(255, 46, 99, 0.2);
}

/* TÍTULO */
.compra-box h2 {
    margin-bottom: 10px;
}

#infoJogo {
    margin-bottom: 20px;
    color: #ff2e63;
    font-weight: bold;
}

/* INPUTS */
.compra-box input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;

    border-radius: 10px;
    border: none;

    background: rgba(255,255,255,0.1);
    color: white;
}

.compra-box input::placeholder {
    color: rgba(255,255,255,0.6);
}

.btn-comprar {
    width: 100%;
    margin-top: 15px;

    background: linear-gradient(45deg, #ff2e63, #ff4d7a);
    color: white;

    border: none;
    padding: 12px;

    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;

    transition: 0.3s;
}

.btn-comprar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff2e63;
}